<section class="form-contact">
    <div class="container__form-contact">
        <section class="container-contacts">
            seccion contacts
        </section>
        <section class="container-form">
            <form>
                <label id="user">
                    Nombre de Usuario
                    <input placeholder="Jhon Doe" type="text"/>
                </label>
                <label id="email">
                    Correo
                    <input name="email" placeholder="jhon@email.com" type="email"/>
                </label>
                <label id="password">
                    Contraseña
                    <input name="password" placeholder="************" type="password"/>
                </label>
                <label id="message">
                    Escriba su mensaje
                    <textarea cols="30" name="message" rows="5"></textarea>
                </label>
                <input class="btn__form-send" type="button" value="Enviar"> <!-- Por el momento el type Button -->
            </form>
        </section>
    </div>
</section>
