<section class="categories">
    <div class="categories__text">
        <section>
            <h2>Nuestras <span>Categorias</span></h2>
        </section>
        <section>
            <button>
                Ver todas
                <fa-icon [icon]="iconSeeMore"></fa-icon>
            </button>
        </section>
    </div>
    <div class="categories__cards">
        <div *ngFor="let category of categories" class="card-category">
            <img [alt]="category.category.name" [src]="category.category.image">
            <h3>{{category.category.name}}</h3>
        </div>
    </div>
</section>
