<section class="container__mostCard">
    <div class="mostCard__actionLine">
        <section>
            <h2>Lo mas <span>vendido</span></h2>
        </section>
        <section>
            <button>
                Ver todos
                <fa-icon [icon]="iconSeeMore"></fa-icon>
            </button>
        </section>
    </div>
    <div class="mostCard__cards">
        <div *ngFor="let mSell of mostSellProducts" class="card-product">
            <img [alt]="mSell.title" [src]="mSell.images"/>
            <h2>{{mSell.title}}</h2>
            <p>{{mSell.price | currency}}</p>
            <section class="set__button-cards">
                <span>
                    <button class="btn-love">
                    <fa-icon [icon]="iconEye"></fa-icon>
                    </button>
                    <button class="btn-cart" (click)="addProduct(mSell)">
                        <fa-icon [icon]="iconCarShoppping"></fa-icon>
                    </button>
                </span>
                <button class="btn-next">
                    Ver mas
                    <fa-icon [icon]="iconSeeMore"></fa-icon>
                </button>
            </section>
        </div>
    </div>
</section>
