<footer class="footer">
    <section class="footer__up">
        <img alt="background image" class="background" src="assets/Group-bolas.png">
        <div class="footer__up-inter">
            <section class="footer__up-left">
                <h2>MarketPlace</h2>
                <h4>Contactenos</h4>
                <div class="contacts">
                    <p>* WhatsApp +1202-918-2541</p>
                    <p>* Llamenos al +1202-918-2541</p>
                </div>
                <div class="logos">
                    <h4>Descarga la App</h4>
                    <span class="logo-images">
                        <img src="assets/apple.png" alt="logo apple" />
                        <img src="assets/android.png" alt="logo android" />
                    </span>
                </div>
            </section>
            <section class="footer__up-center">
                <h4>Most Popular Categories</h4>
                <ul>
                    <li>Staples</li>
                    <li>Beverages</li>
                    <li>Personal Care</li>
                    <li>Home Care</li>
                    <li>Babe Care</li>
                    <li>Vegetables & Fruits</li>
                    <li>Snacks & Foods</li>
                    <li>Dairy & Bakery</li>
                </ul>
            </section>
            <section class="footer__up-right">
                <h4>Customers Services</h4>
                <ul>
                    <li>About Us</li>
                    <li>Terms & Conditions</li>
                    <li>FAQ</li>
                    <li>Privacy Policy</li>
                    <li>E-waste Policy</li>
                    <li>Cancellation & Return Policy</li>
                </ul>
            </section>
        </div>
    </section>
    <section class="footer__down">
        <div>
            Este MarketPlace esta desarrollado con <span><fa-icon class="icon-love" [icon]="iconLove"></fa-icon></span> by DanysDev
        </div>
    </section>
</footer>
