.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    background-color: #212844;

    .footer__up {
        position: relative;
        height: calc(600px - 2rem);
        color: #F3F9FB;
        .background {
            position: absolute;
            right: 0;
        }
        .footer__up-inter {
            display: flex;
            padding: 40px 80px;
            gap: 80px;
            z-index: 5;
            height: 100%;
            .footer__up-left {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 24px;
                h2 {
                    font-size: xx-large;
                    font-weight: bolder;
                }
                h4 {
                    margin-top: 40px;
                    font-size: large;
                    font-weight: bold;
                }
                .contacts {
                    display: flex;
                    flex-direction: column;
                }
                .logos {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    margin-top: 40px;
                    .logo-images {
                        display: flex;
                        gap: 12px;
                    }
                }
            }
            .footer__up-center {
                display: flex;
                flex-direction: column;
                gap: 36px;
                h4 {
                    font-size: x-large;
                    font-weight: bold;
                }
                ul {
                    list-style: circle;
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    padding-left: 25px;
                }
            }
            .footer__up-right {
                display: flex;
                flex-direction: column;
                gap: 36px;
                h4 {
                    font-size: x-large;
                    font-weight: bold;

                }
                ul {
                    list-style: circle;
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    padding-left: 25px;
                }
            }
        }
    }
    .footer__down {
        height: 2rem;
        color: #F3F9FB;
        text-align: center;
        line-height: 2rem;
        border-top: .2px solid rgba(243, 249, 251, 0.2);
        .icon-love {
            color: crimson;
        }
    }
}
