<header class="container__navbar">
    <nav class="navbar navbar__up">

        <section class="navbar__up-left">
            <div class="navbar__menu-icon">
                <fa-icon
                    (click)="showMenuBar()"
                    [icon]="iconMenuMobile"
                    class="navbar__menu-faIcon"
                ></fa-icon>
            </div>
            <hr>
            <div>
                <h2><span>Market</span>Place</h2>
            </div>
        </section>

        <div class="navbar__up-center">
            <label>
                <fa-icon [icon]="iconInputSearch" class="navbar__icon-search"></fa-icon>
                <input placeholder="Hoy quiero comprar....." required type="text">
            </label>
        </div>

        <section class="navbar__up-right">
            <div class="navbar__car">
                <fa-icon
                    [icon]="iconCar"
                    class="navbar__car-icon"
                    (click)="showProductsCar()"
                ></fa-icon>
                <div>{{cantProduct}}</div>
            </div>
            <hr>
            <div class="navbar__btn">
                <button class="navbar__btn-registry">
                    <fa-icon [icon]="iconRegistry"></fa-icon>
                    Registrar
                </button>
                <button class="navbar__btn-login">
                    <fa-icon [icon]="iconLogin"></fa-icon>
                    Entrar
                </button>
            </div>
            <section class="show-car" *ngIf="productsCar">
                <h2 class="show-car-title">Productos del carrito</h2>
                <div class="show-car-card" *ngFor="let cardProduct of isProductsCart">
                    <section class="show-car-image">
                        <img [src]="cardProduct.images" alt="reloj">
                    </section>
                    <section class="show-car-content">
                        <h3>{{cardProduct.title}}</h3>
                        <div class="content-price">
                            <p>{{cardProduct.price | currency}}</p>
                        </div>
                    </section>
                    <section class="show-car-add">
                        <p class="content-add-product">
                            <button>-</button>
                            0
                            <button>+</button>
                        </p>
                    </section>
                </div>
                <div class="show-card-total">
                    <p><strong>Total a pagar:</strong>{{totalCart}}</p>
                </div>
            </section>
        </section>

    </nav>
    <nav *ngIf="seeBarMenu" class="navbar navbar__down">
        <div class="navbar__dow-btn">
            <app-button-menu></app-button-menu>
        </div>
    </nav>
</header>
